#titulos-h2{
    color: darkorange;
}

.fundo{
    background: yellow;
}

.texto-vermelho{
    color: red;
}

h2{
    color: darkviolet;
}

p{
    color: steelblue;
}

h2{
    color: brown;
}

/*sim é uma cascata XD*/